/*G�n�ral*/
@import url('https://fonts.googleapis.com/css2?family=Raleway');

* {
    font-family: "Raleway";
    list-style: none;
    margin-top: 0px;
    max-width: 100%;
}

body {
    max-width: 1400px;
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: auto;
}

main {
    margin-left: auto;
    margin-right: auto;
}

.links {
    text-decoration: none;
    color: black;
}

.fas {
    color: #0065FC;
}

.fa-star {
    font-size: 12px;
    width: 12px;
    margin-right: 2%;
    margin-top: auto;
}

.gray {
    color: #F2F2F2
}

h1,
h2 {
    font-size: 22px;
    font-weight: 700;
}

h3,
.h3 {
    font-size: 16px;
    font-weight: 700;
}

p,
.text {
    font-size: 16px;
    font-weight: 400;
}

.bold {
    font-weight: 900;
}

a {
    display: block;
}

/*Header desktop*/
#header {
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
    width: auto;
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 63px;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
}

.logo {
    max-width: 61.09px;
    height: 19px;
}

#menu {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    line-height: 19px;
    align-items: baseline;
    margin-left: 40%;
}

#menu-hebergements,
#menu-activities {
    margin: 0px 0px 0px 0px;
    padding-top: 46px;
    width: 162px;
    text-align: center;
}

#menu a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

#menu a {
    border-top: 2px solid #FFFFFF;
}

.filter {
    background: white;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding: 14px 20px 14px 20px;
    display: flex;
    flex-direction: row;
}

.filter:hover {
    background-color: #DEEBFF;
}

.filter-text {
    margin-left: 1vw;
    font-size: 11px;
}

#filter-bar {
    width: 914px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#filter-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 860px;
}

#filter-buttons>li {
    margin-right: 4%;
}

#search-mobile {
    display: none;
}

#search-form {
    display: flex;
    flex-direction: row;
    height: 49px;
    margin-bottom: 32px;
}

#location {
    color: black;
    background: #F2F2F2;
    width: 50px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#search-bar {
    border-radius: 0px;
    border: 0px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #F2F2F2;
    padding-left: 16px;
    font-size: 18px;
    font-weight: 700;
    max-width: 60%;
}

#search-button {
    border-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #0065FC;
    border: 0px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 16px 14px 16px;
}

/*Footer desktop*/
#footer {
    display: flex;
    flex-direction: row;
    text-align: left;
    background: #f2f2f2;
    padding-left: 70px;
    padding-top: 45px;
}

.footer-column {
    margin-left: 3%;
    width: 30%;
}

.footer-column>ul {
    padding-left: 0px;
}

/*Properties Marseille*/
#info {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 3px;
}

#cards {
    max-height: 601px;
    margin-bottom: 60px;
}

#ellipse {
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    margin-top: -3px;
    margin-right: 11px;
}

#logements-number {
    display: flex;
    width: 100%;
}

#marseille-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 80%;
    padding: 42px 40px 46px 40px;
    min-height: 600px;
}

#property-grid {
    display: flex;
    columns: 3;
    flex-wrap: wrap;
}

.property {
    width: 29%;
    height: 180px;
    background-color: white;
    border: 5px solid white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
    margin-right: 1.5vw;
}

a.property:nth-child(3),
a.property:nth-child(6) {
    margin-right: 0;
}

a.property:nth-child(1),
a.property:nth-child(2),
a.property:nth-child(3) {
    margin-bottom: 30px;
    margin-top: 33px;
}

#load-more {
    position: relative;
    margin-bottom: -5vh;
    bottom: -10vh;
}

.property-img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.property-text>h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: black;
}

#more-popularity {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

#plus-populaires {
    background: #F2F2F2;
    border-radius: 20px;
    padding: 41px 40px 34px 37px;
    margin-left: 5%;
    width: 33%;
    min-height: 600px;
}

.populaires {
    display: flex;
    flex-direction: row;
    height: 144px;
    padding: 5px 5px 5px 5px;
    background: white;
    border-radius: 20px;
    margin: 33px 1% 0px 1%;
}

.property-img-pop {
    height: auto;
    width: 40%;
    flex-shrink: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.property-text-pop {
    margin-left: 1vw;
}

.property-text>p {
    margin-top: -5%;
    margin-bottom: 3%;
}

.property-text {
    margin-left: 5%;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 5%;
    position: absolute;
}

/*Activit�s � Marseille*/
#activity-marseille {
    margin-top: 15%;
}

.cards-marseille {
    text-align: center;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.1));
    background: white;
    width: 24%;
}

.marseille-img {
    width: 100%;
    height: 445px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activity {
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
    background: white;
}

#activity-title {
    margin-top: 60px;
    line-height: 25.83px;
}

.cards-marseille-2>h3 {
    margin-top: 20px;
    text-align: left;
    margin-left: 19px;
}

/*Media Queries*/

@media screen and (max-width:991px) {

    #header {
        padding-left: 3%;
    }

    main {
        padding: 3%;
    }

    h1 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #cards {
        max-height: none;
    }

    #marseille-cards {
        flex-direction: column;
    }

    #popular-properties {
        flex-direction: row;
        display: flex;
    }

    #plus-populaires {
        width: -moz-available;
        width: -webkit-fill-available;
        margin-top: 5%;
        margin-right: auto;
        margin-left: auto;
        min-height: auto;
    }

    .populaires {
        font-size: 13px;
        line-height: 15.26px;
        width: 252px;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
    }

    .populaires>h3 {
        font-size: 14px;
        line-height: 16.44px;
    }

    .stars {
        position: fixed;
        bottom: 10%;
    }

    #hebergements {
        width: 100vw;
        width: -moz-available;
        width: -webkit-fill-available;
    }

    .marseille-img {
        height: 222.5px;
    }

    #filter-buttons {
        padding-left: 2vw
    }

    .property-img-pop {
        width: 40%;
        margin-right: 1vw;
    }
}

@media screen and (max-width: 767px) {
    
    main {
        padding: 0%;
    }
    
    #nav {
        flex-direction: column;
    }

    h1 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #section-filters {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
    }

    #menu {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 100%;
    }

    #menu>li {
        width: 100%;
        text-align: center;
        text-align: -moz-center;
        text-align: -webkit-center;
    }

    #menu a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: 0px;
        padding-bottom: 10%;
    }

    #search {
        display: none;
    }

    #search-mobile {
        display: block;
        border: 0px;
        color: white;
        font-size: 18px;
        font-weight: 700;
    }

    #filter-bar {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #filter-buttons {
        display: grid;
        padding: 0;
        grid-template-columns: 50% 50%;
        grid-row-gap: 3vw;
        grid-column-gap: 3vw;
    }

    .filter {
        width: 100%;
        text-align: left;
    }

    #logements-number {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #cards {
        max-height: none;
    }

    #marseille-cards {
        display: flex;
        flex-direction: column-reverse;
    }

    #plus-populaires {
        border-radius: 0;
        width: 90%;
        margin-left: 0;
        padding-left: 4%;
    }

    #hebergements {
        height: 100%;
        background: white;
        padding: 20px;
        width: 85%;
    }

    #property-grid {
        flex-direction: column;
        columns: 1;
        width: 100%;
        position: relative;
        left: -3%;
        row-gap: 30px;
    }

    a.property.links {
        margin-bottom: 10px;
        height: 200px;
        width: 100%;
    }

    .property-text>p {
        margin-top: 0;
    }

    a.property:nth-child(2),
    a.property:nth-child(3) {
        margin-top: 0;
    }

    #load-more {
        display: none;
    }

    #activity-title {
        margin-left: 5%;
    }

    #activity {
        flex-direction: column;
    }

    .cards-marseille {
        width: 90%;
        margin-left: 5%;
        margin-bottom: 24px;
    }

    .marseille-img {
        height: 134px;
    }

    #footer {
        flex-direction: column;
        justify-content: center;
        padding-left: 30px;
    }

    .footer-column {
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    #popular-properties {
        flex-direction: column;
    }

    .populaires {
        width: 100%;
    }
}

@media screen and (max-width:300px) {
    #menu {
        flex-direction: column;
    }

    #plus-populaires {
        padding: 20px
    }
}

@media screen and (min-width: 993px) {

    .property,
    .populaires {
        transition: all 0.5s ease-in-out;
    }

    .property:hover,
    .populaires:hover {
        transform: scale(1.2);
        z-index: 2;
    }

    .marseille-img,
    .cards-marseille {
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        max-width: 100%;
    }

    .marseille-img:hover {
        transform: scale(1.3);
    }
}